/* make scrolling smooth */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

/*
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
    box-sizing: border-box;
    width: 100%;
}

/* header */

header {
    width: 100%;
    box-sizing: border-box;
}

/* navbar */

.navbar {
    background-color: #333;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logo img {
    height: 2.5rem;
    width: 2.5rem;
}

.logo h1 {
    font-size: 1.2em;
}

/* navigation list */

.navbar-links li {
    list-style: none;
    text-align: center;
    display: block;
    padding: 0.5em 0;
}

/*
 style all a tags in header
 and then on hover
*/

.navbar-links a {
    color: whitesmoke;
    background-color: #333;
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}

.navbar-links a:hover,
.navbar-links a:focus {
    color: #333;
    background-color: whitesmoke;
    border-radius: 10px;
    outline: none;
}

/*
media query for non-mobile nav bar
min-width set to width of nav elements
such that no text wraps
*/

@media screen and (min-width: 60rem) {

.navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

}
