body {
    font-family:"Space Grotesk";
    background-color:#3AB563;
    color: #363132;
}

h1, h2, h3, h4, h5 {
    font-family:"Changa One" ;
    font-size: 40pt;
}

header {text-align: center;

}

#hero, footer {
    color:#4B3737;
    border:#11F552 ;
    text-align: center;
    background-color: #E03659;
    padding: 10px;
}

#hero img {
    width: 300px;;
}

#ado {text-align: center;}

#bio {
text-align: center;


}
