body {
    font-family:"Space Grotesk";
    background-color:#3D8F4F;
    color: #000000;
}

h1, h2, h3, h4, h5 {
    font-family:"Changa One" ;
    font-size: 40pt;
}

header {text-align: center;

}

#hero, footer {
    color:#000000;
    border:#1AE045;
    text-align: center;
    background-color: #E01930;
    padding: 10px;
}

#hero img {
    width: 300px;;
}

#ado {text-align: center;}

#bio {
text-align: center;


}
