body {
    font-family:"Space Grotesk";
    background-color:#3D8F4F;
    color: #000000;
}

h1, h2, h3, h4, h5 {
    font-family:"Changa One" ;
    text-align: center;
}
h1 {
 font-size: 40pt;
}
h2 {
 font-size: 30pt;
}

/*Hero Section*/

#hero, footer {
    color:#000000;
    border:#1AE045;
    text-align: center;
    background-color: #E01930;
    padding: 10px;
}

#hero img {
    width: 300px;;
}

/*biography*/

#bio {
text-align: center;

}

/*hobbies*/

#hobbies ul li:nth-last-child(even){
    color: #c5da07;
}

/*Gallery*/

#gallery {
    border: 2px solid #E01930;
    margin-bottom:2rem;
}

#gallery img{
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/*Literature */
#lit {
    border: 2px solid #E01930;
    margin-bottom: 2rem;
}

#lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p:first-letter {
color: #c5da07;
float: left;
font-size: 40px;
margin-right: .25em;
line-height: .65;
border: 4px outset #c5da07;
box-shadow: 5px 5px 5px #rgba (0,0,0.5);
border-top-right-radius: .2em;
border-bottom-left-radius: .2em;
}




/*random images*/

#ado {text-align: center;}
